<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>


<p> Existing items in the database4: </p>

<div ng-app="myApp" ng-controller="namesCtrl">

	<ul>
		<li ng-repeat="x in items">{{x.name}}</li>
	</ul>
	<form name="myForm">
	Name: <input ng-model="addName" required> <br>
	Quantity: <input ng-model="addQuantity"> <br>
	Price: <input ng-model="addPrice"> <br>
	</form>
	<button id='addBtn' type="text" ng-click="addItem()"  >Add</button>

</div>

<script src= "namesController.js"></script>

</body>
</html>