html, body, nav, ul {
	margin:0;
	padding:0;
}

body {
	background-color: #ededed;
}
/* navbar */

#navList {
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color: rgb(63, 60, 58);
	padding: 10px 0px;
}

#navList li {
	font-size:22px;
	display: inline;
	padding:10px 0;
}

#navList li a {
	text-decoration: none;
	color:white;
	width: 100%;
	height: auto;
	padding:10px 20px;
}

#navList li:hover {
	background-color: rgb(37, 37, 40);

}

/* intro box */

#intro {
	width: 80%;
	text-align: center;
	font-size:40px;
}

#introImg {
	border-radius:50%;
	height:500px;
	width:400px;
}

#introPicBox {
	width:80%;
}

#hr1 {
	background-color:rgba(75, 221, 234, .5);
	display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0 0 0;
    padding: 0;
}
/* ------ snapshots ------- */
.snap {
	margin: 0 20px;
	border-radius:5px;
}

.wrap {flex-wrap:wrap;}
/* ------ general --------- */
.active {
	background-color: blue;
}

.container {
	
	width:85%;
	height:auto;
	margin:50px auto 0 auto;
}

.content-box {
	background-color: white;
	width:100%;
	height:auto;
	font-size:32px;
	padding-bottom:10px;
	text-align:center;
	margin-top:5px;
	padding-top:1px;
}

.flex-parent {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	align-items: center;
	justify-content: center;
}