html, body, nav, ul {
	margin:0;
	padding:0;
}

html {
	position:fixed;
	right:0px;
	left:0;
	bottom:0;
	top:0;
	width:100%;
	overflow:hidden;
}

body {
	background: url("https://hd.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg") no-repeat center;

	position:fixed;
	right:0px;
	left:0;
	bottom:0;
	top:0;
	overflow:hidden;

}
/* navbar */
#navList {
	position:fixed;
	left:0;
	bottom:auto;
	top:40%;
	width:200px;
	right:auto;
	background-color: rgba(0, 0, 0, .7); /*rgba(63, 60, 58, .0); */
	padding: 10px 0px;

	-o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
  	transition: .2s;
  	border-radius:5px;
  	z-index:1;
}



#navList li {
	font-size:30px;
	display: block;
	padding:10px 0;
	height:50px;
	text-align: center;
	-o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
  	transition: .2s;
}


#navList li a {
	text-decoration: none;
	color:white;
	width: 100%;
	height: auto;
	padding:10px 20px;
	line-height: 50px;
}

/* intro box */

#introText {
	padding-top:40px;
	margin-left:100px;
}
.intro {
	width: 80%;
	text-align: center;
	font-size:40px;
	padding-left:20pxv;
}

#introImg {
	border-radius:50%;
	height:500px;
	width:400px;
}

#introPicBox {
	width:100%;
	margin-top:20px;
}

#hr1 {
	background-color:rgba(75, 221, 234, .5);
	display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0 0 0;
    padding: 0;
}
/* ------ snapshots ------- */
.snap {
	margin: 10px 20px;
	border-radius:5px;
	display:block;
	z-index:0;
}
h1:hover {
	background: rgba(0,0,0,.5);
}
.wrap {flex-wrap:wrap;}

.desc {
	font-size:20px;
	margin:0;
	padding:0;
}

.darkhover {
	z-index:0;
}

.darkhover:hover {
	z-index:1;
	background-color:rgba(256,0,0,.5);
}

/* ------ general --------- */
.active {
	background-color: blue;
}

.center-text {
	text-align: center;
}

.container {
	
	width:calc(100% - 200px);
	height: 100%;
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	top:0;
	
}

.content-box {
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	top:0;
	margin:100px 0;
	padding-right: 30px;
	background-color: rgba(256, 256, 256, .7);
	width:calc(100% - 200px);
	height:auto;

	margin-left:200px;
	font-size:32px;
	text-align:center;
	color:black;
	overflow:scroll;
	overflow-x:hidden;
}

.flex-parent {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	align-items: center;
	justify-content: center;
}

/*------ slides -------- */
#slide1 {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

#slide2 {
	display:none;
}

#slide3 {
	display:none;
}

/*----- social media icons ------ */
.scmd {
	font-size:100px;
}

/*--------- iframe -------- */
#popup {
	display:none;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:0 auto;
	background-color:rgba(0,0,0,.5);
	z-index:5;
}

iframe {
	height:90%;
	width:90%;
	overflow-x:hidden;
	
	position:absolute;
	right:0;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:5;
}

#closeBtn {
	background-color:black;
	color:white;
	font-size:50px;
	position: absolute;
	top:10px;
	right:10px;
	border-style: none;
	border-radius:3px;
	width:85px;
	height:85px;

	-o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
  	transition: .2s;
  	z-index:6;
}
#closeBtn:hover {
	background-color:red;
	color:black;

}

/*----- footer ------- */
footer {
	position:fixed;
	bottom:0;
	right:30%;
	left:30%;
	color:white;
	background-color:rgba(0,0,0, .3);
	border-radius:15px;
	z-index:0;
}

@media screen and (max-width: 767px) {
	#navList {
	position:fixed;
	top:0;
	right:0;
	left:0;
	width:auto;
	margin:0 auto;

	z-index:1;
}

 #navList li {
 	font-size:16px;
	display: inline-block;
	padding:10px 0;
	height:auto;
	min-width: 100px;
	width:auto;
	text-align: center;
	z-index:1;
 }

 .content-box {

 	margin-left:0;
 	width: 100%;
 }

 .container {
 	width:100%;
 }

 #introPicBox {
 	padding-top:100px;
 }

 #slide1 {
 	flex-wrap: wrap; 
 }

 .intro {
 	padding-left:0;
 	font-size:20px;
 }

 #introText {
 	margin-left:0;
 }

 #introImg {
	height:400px;
	width:300px;
}

 #popup {
 	margin-top:50px;
 }

 #closeBtn{margin-top:30px;}

 footer {
 	left:0;
 	right:0;
 	height:auto;
 }

 footer p {
 	display:inline;
 }
}